@import "mixin";

* {
  box-sizing: border-box;
}

.dark {
  background: #0f0f0f;
}

body {
  margin: 0;
  background: #f1f1f1;
  @media (max-width: 992px) {
  }
  &.no-scroll {
    overflow: hidden;
    padding-right: 12px;
    @media (max-width: 992px) {
      padding-right: 0;
    }
  }

  &::-webkit-scrollbar {
    background: transparent;
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #171717;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #EB6418;
    border-radius: 100px;
  }
}
* {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none !important;
  @media (max-width: 992px) {
    outline: none !important;
  }
}

.section-title {
  color: var(--2, #282828);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin: 0;
  @media (max-width: 992px) {
    font-size: 40px;
  }
}

@media screen and (min-width: 992px) {
  /*html, body{
		overflow-x:hidden;
	}*/
  .dt-hidden {
    display: none !important;
  }
}
@media screen and (max-width: 992px) {
  .iti.iti--container {
    z-index: 1999999999 !important;
  }
  .mob-hidden {
    display: none !important;
  }
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  @media (max-width: 1375px) {
    max-width: $md1 + px;
  }
  @media (min-width: 1600px) {
    max-width: $maxWidth;
  }
}

.site {
  position: relative;
  overflow: hidden;
}

/* Tabs */

._tabs-block {
  display: none;
  &._active {
    display: block;
  }
}

.bordered-button{
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  height: 40px;
  padding: 0 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  &:hover{
    border-color: #FF8744;
    background: #FF8744;
  }
}

.orange-button{
  border: 1px solid #EB6418;
  background-color: #EB6418;
  border-radius: 8px;
  height: 40px;
  padding: 0 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  &:hover{
    border-color: #FF8744;
    background: #FF8744;
  }
}