@import "mixin";

footer {
  background: #171717;
  border-radius: rem(24) rem(24) 0 0;
  padding-top: rem(80);
  @media (max-width: rem(992)) {
    padding-top: rem(40);
  }
  .foot-copy {
    border-top: rem(1) solid #ffffff33;
    padding: rem(32) 0;
    color: #ffffff80;
    font-size: rem(16);
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
  }

  .footer-row {
    display: flex;
    margin-bottom: rem(32);
    @media (max-width: rem(992)) {
      flex-direction: column;
    }
    .logo {
      a {
        display: flex;
      }
      p {
        color: #fff;
        font-size: rem(16);
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        margin: rem(16) 0 rem(24) 0;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      row-gap: rem(24);
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        color: #fff;
        font-size: rem(16);
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        a {
          color: #fff;
          &:hover {
            color: #eb6418;
            svg {
              path {
                fill: #eb6418;
              }
            }
          }
        }
        .account {
          display: flex;
          gap: rem(8);
        }
      }
    }
    .left {
      width: 50%;
      padding-right: rem(30);
      border-right: rem(1) solid #ffffff33;
      @media (max-width: rem(992)) {
        width: 100%;
        padding-right: 0;
        padding-bottom: rem(30);
        border: none;
        border-bottom: rem(1) solid #ffffff33;
      }
      .soc {
        display: flex;
        gap: rem(16);
        margin-top: rem(24);
        a {
          display: flex;
          &:hover {
            svg {
              path {
                fill: #eb6418;
              }
            }
          }
        }
      }
    }
    .right {
      display: flex;
      padding-left: rem(30);
      justify-content: space-between;
      width: 50%;
      @media (max-width: rem(992)) {
        width: 100%;
        padding-left: 0;
        padding-top: rem(30);
        flex-wrap: wrap;
        row-gap: rem(32);
      }
      ul {
        @media (max-width: rem(992)) {
          width: 50%;
          &:last-child {
            width: 100%;
            flex-wrap: wrap;
            height: rem(60);
            li {
              width: 50%;
            }
          }
        }
        li {
          font-size: rem(14);
          a {
            font-size: rem(14);
          }
        }
      }
    }
  }
}
