@import "mixin";

.solutions-hero {
  padding: rem(270) 0;
  background-position: left center;
  background-size: cover;
  border-radius: 0 0 rem(24) rem(24);
  @media (max-width: rem(992)) {
    padding: rem(190) 0 rem(100) 0;
    background-image: url(/images/home/homeHero.webp);
    background-position: bottom center;
  }
  img {
    max-width: unset;
  }
  h2 {
    font-size: rem(32);
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 rem(10) 0;
    color: #eb6418;
    @media (max-width: rem(992)) {
      font-size: rem(24);
    }
  }
  h1 {
    color: #ffffff;
    font-size: rem(64);
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 rem(8) 0;
    @media (max-width: rem(992)) {
      font-size: rem(48);
      br {
        display: none;
      }
    }
  }
  p {
    font-size: rem(16);
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    color: #ffffff;
  }
}

.contact-block {
  margin: rem(120) 0;
  @media (max-width: rem(992)) {
    margin: rem(100) 0;
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(120) rem(24);
    border-radius: rem(24);
    background-size: cover;
    background-position: center;
    //background-image: url(/images/home/whyBack.webp);
    @media (max-width: rem(992)) {
      padding: rem(100) rem(24);
    }
    img {
      max-width: unset;
      top: 0;
      height: 130% !important;
      width: auto !important;
    }
    .react-parallax-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    h2 {
      color: #fff;
      font-size: rem(48);
      font-weight: 600;
      line-height: 1.2;
      text-align: center;
      margin: 0 0 rem(64) 0;
      @media (max-width: rem(992)) {
        font-size: rem(32);
      }
    }
    p {
      color: #fff;
      font-size: rem(16);
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      margin: 0 0 rem(64) 0;
      @media (max-width: rem(992)) {
        br {
          display: none;
        }
      }
    }
  }
}

.solutions-tabs {
  margin: rem(120) 0;
  @media (max-width: rem(992)) {
    margin: rem(100) 0;
  }
  h2 {
    margin: 0 0 rem(32) 0;
    font-size: rem(48);
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
    color: #9e9e9e;
    span {
      color: #222222;
    }
    @media (max-width: rem(992)) {
      font-size: rem(32);
      text-align: center;
    }
  }

  .tabs {
    padding: rem(32) 0;
    border-top: rem(1) solid #89a6a34d;
    border-bottom: rem(1) solid #89a6a34d;
    display: flex;
    gap: rem(30);
    @media (max-width: rem(992)) {
      padding: rem(24) 0;
      flex-direction: column;
      gap: rem(24);
    }
    .tabs-nav {
      width: rem(385);
      padding-right: rem(30);
      border-right: rem(1) solid #89a6a34d;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: rem(30);
      @media (max-width: rem(992)) {
        overflow-x: auto;
        width: 100%;
      }
      > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: rem(24);
        @media (max-width: rem(992)) {
          flex-direction: row;
          gap: 0;
        }
        button {
          padding: 0;
          border: none;
          font-size: rem(14);
          font-weight: 500;
          line-height: 1.2;
          text-align: left;
          color: #9e9e9e;
          background: transparent;
          display: flex;
          gap:8px;
          cursor: pointer;
          &.active {
            color: #222222;
          }
          @media (max-width: rem(992)) {
            padding: rem(6) rem(12);
            border-right: rem(1) solid #89a6a34d;
            white-space: nowrap;
          }
        }
      }
      .bordered-button {
        border: rem(1) solid #222222;
        color: #222222;
        &:hover {
          border-color: #ff8744;
          background: #ff8744;
        }
        @media (max-width: rem(992)) {
          display: none;
        }
      }
    }
    .tabs-content {
      width: calc(100% - rem(415));
      @media (max-width: rem(992)) {
        width: 100%;
      }
      .solution {
        padding: rem(32);
        background-color: #f5f5f5;
        border-radius: rem(24);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: rem(50);
        align-items: center;
        align-items: flex-start;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right bottom;
        @media (max-width: rem(992)) {
          padding: rem(24) rem(24) rem(260) rem(24);
          height: auto;
          background-position-y: calc(100% + 165px);
        }

        > div {
          width: 50%;
          @media (max-width: rem(992)) {
            width: 100%;
          }
          h3 {
            color: #222222;
            font-size: rem(20);
            font-weight: 600;
            line-height: 1.2;
            text-align: left;
            margin: 0 0 rem(24) 0;
            display: flex;
            gap:8px;
            span{
                display: inline-block;
                color: #EB6418;
            }
          }
          ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: rem(16);
            list-style-type: none;
            li {
              color: #222222;
              font-size: rem(16);
              font-weight: 400;
              line-height: 1.2;
              text-align: left;
              padding-left: rem(16);
              position: relative;
              &:before {
                content: "";
                display: block;
                width: rem(8);
                height: rem(8);
                background-color: #eb6418;
                position: absolute;
                left: 0;
                top: rem(5);
              }
            }
          }
        }
      }
    }
  }
}
