@import "../mixin.scss";

.home-why {
  margin: rem(120) 0;
  @media (max-width: rem(992)) {
    margin: rem(100) 0;
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(120) rem(24);
    border-radius: rem(24);
    background-size: cover;
    background-position: center;
    //background-image: url(/images/home/whyBack.webp);
    @media (max-width: rem(992)) {
      padding: rem(100) rem(24);
    }
    img{
      max-width: unset;
      top:0;
      height: 130%!important;
      width: auto !important;
    }
    .react-parallax-content{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    h2 {
      color: #fff;
      font-size: rem(48);
      font-weight: 600;
      line-height: 1.2;
      text-align: center;
      margin: 0 0 rem(8) 0;
      @media (max-width: rem(992)) {
        font-size: rem(32);
      }
    }
    p {
      color: #fff;
      font-size: rem(16);
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      margin: 0 0 rem(64) 0;
      @media (max-width: rem(992)) {
        br {
          display: none;
        }
      }
    }
  }
}
