.home-why {
  margin: 120px 0;
  @media (max-width: 992px) {
    margin: 100px 0;
  }
  &__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 24px;
    border-radius: 24px;
    background-size: cover;
    background-position: center;
    background-image: url(/images/home/whyBack.webp);
    @media (max-width: 992px) {
        padding: 100px 24px;
    }
    h2{
        color: #fff;
        font-size: 48px;
        font-weight: 600;
        line-height: 1.2;
        text-align: center;
        margin: 0 0 8px 0;
        @media (max-width: 992px) {
            font-size: 32px;
        }
    }
    p{
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        text-align: center;
        margin: 0 0 64px 0;
        @media (max-width: 992px) {
            br{
                display: none;
            }
        }
    }
  }
}
