@import "../mixin.scss";

.home-tools {
  margin: rem(120) 0;
  @media (max-width: rem(992)) {
    margin: rem(100) 0;
  }
  &__body {
    border-radius: rem(24);
    background: #f5f5f5;
    padding: rem(120) 0;
    @media (max-width: rem(992)) {
      padding: rem(100) 0;
    }
    h2 {
      margin: 0 0 rem(48) 0;
      font-size: rem(48);
      font-weight: 600;
      line-height: 1.2;
      text-align: center;
      color: #222222;
      @media (max-width: rem(992)) {
        font-size: rem(32);
        text-align: center;
      }
    }

    .sliderContainer {
      margin-top: 4rem;

      &:last-child {
        margin-top: 2rem;

        @media (max-width: 62rem) {
          margin-top: 1.5rem;
        }
      }

      .swiper-slide {
        padding: 0 2rem;

        img {
          height: rem(60); // 60px converted to rem
          display: block;
          @media (max-width: rem(992)) {
            height: auto;
          }
        }
      }

      &.rtl {
        direction: rtl;
      }
    }
  }
}
